@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Fur';
    font-family: 'Playfair Display', sans-serif;
    /* font-family: 'FuturaDemiC', sans-serif; */
}

#__nuxt {
    height: 100%;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}